h2 {
    color: red;
    width:  200px;
}




div {               /* 1 Punkt wert */
    background: black;
}

.blog-entry {       /* 10 Punkte wert */
    color: white; background: black; flex-direction: row; display: flex; align-items: center; justify-content: space-evenly;
    width: 1000px;
}

/*#block-entry2 {     !* 100 Punkte wert *!*/
/*    color: cadetblue; background: black;*/
/*}*/

.blog-entry1 {
    color: white; background: black; align-items: center;
}

.blog-entry1_2{
    color: white; background: black; display: flex; align-items: center; justify-content: flex-start;

}

.block-entry2 {
    color: white; background: black;
}
.block-entry2_2 {
    color: white; background: black; display: flex; align-items: center; justify-content: flex-start;
    width: 1000px;
}

.end  {
    color: red; background: black; flex-direction: row; align-items: flex-start; justify-content: flex-start;
}

.container {
    display: flex; justify-content: flex-end;
}

#example-pic1, #example-pic2 {  /*funktioniert so vermutlich nicht*/
    flex-direction: column;
}

body {
    background: black;
}
