h2 {
    color: red;
    width:  200px;
}

margin {
    color: black; background: black;
}

div {               /* 1 Punkt wert */
    color: blue; background: black;
}

.blog-entry {       /* 10 Punkte wert */
    color: white; background: black; flex-direction: row; display: flex; align-items: center;
}

/*#block-entry2 {     !* 100 Punkte wert *!*/
/*    color: cadetblue; background: black;*/
/*}*/

.blog-entry1 {
    color: white; background: black; align-items: center;
}

.blog-entry1_2{
    color: white; background: black; display: flex; align-items: center; justify-content: space-around; justify-content: flex-start;
}

.block-entry2 {
    color: white; background: black;
}
.block-entry2_2 {
    color: white; background: black; display: flex; align-items: center; justify-content: space-around; justify-content: flex-start;
}

.end  {
    color: red; background: black;
}

.container {
    display: flex; justify-content: flex-end;
}

#example-pic1,#example-pic2 {  /*funktioniert so vermutlich nicht*/
    flex-direction: column;
}
